.wrapper{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.command{
    font-weight: normal;
}

.command-input{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    width: 100%;
}

.wrapper2{
    display: flex;
    gap: .5rem;
}

.wrapper1{
    display: flex;
    gap: .5rem;
}

.wrapper12{
    display: flex;
    flex-direction: column;
}

.dflex{
    display: flex;
    gap: .3rem;
}