<main class="wrapper">
    <span class="terminal-title"> L MINGW64:c/User/rootsystem</span>
    <div class="terminal-actions">
        <button class="action minimize">-</button>
        <button class="action maximize">□</button>
        <button class="action close">×</button>
    </div>
    <div class="terminal">
        <div class="terminal-instructions">
            <app-terminal-description></app-terminal-description>
            <span class="instruction">Type <span class="git-help">git help</span> to access available commands.</span> 
        </div>
        <div class="terminal-main-content">
            <app-content-render></app-content-render>
        </div>
    </div>
</main>